;some items make no difference for the win32 version
BACKUPFILE=ON
COLUMN=DISPLAYED
CONTEXT=FORGOTTEN
CONTROLZ=OFF
CURSORLINE=FLOATING
MOUSE=ENABLED
NUMLOCK=SET
RETURN=OFF
RULER=ON
SCREENSHIFT=ON
TABS=EXPANDED
VIDEO=DIRECT
SHAREMESSAGE=OFF
;MAPPING=NEW
MAPPING=EDT
